---
- name: Collect Zabbix metrics
  hosts: localhost
  gather_facts: false

  vars:
    zabbix_server: ''
    zabbix_username: ''
    zabbix_password: ''
    host_names: ''
    days_back: 1
    output_path: ''


  tasks:

    - set_fact:
        host_names: "{{ host_names.split(',') }}"
      when: host_names is string

    - name: Collect metrics from Zabbix
      zabbix_metrics:
        zabbix_server: "{{ zabbix_server }}"
        username: "{{ zabbix_username }}"
        password: "{{ zabbix_password }}"
        host_names: "{{ host_names }}"
        days_back: "{{ days_back }}"
        output_path: "{{ output_path }}\servers_metrics.xlsx"
      register: result

    - name: Display results
      debug:
        msg: "Metrics collected and saved to {{ result }}"
