---
- name: Collect Zabbix metrics
  hosts: localhost
  gather_facts: false

  vars:
    zabbix_server: ''
    zabbix_username: ''
    zabbix_password: ''
    host_names: ''
    days_back: 1
    output_path: '/tmp/zabbix_reports/servers_metrics.xlsx'
    win_share: ''


  tasks:
    - name: Create output directory
      file:
        path: /tmp/zabbix_reports
        state: directory
        mode: '0755'

    - set_fact:
        host_names: "{{ host_names.split(',') }}"
      when: host_names is string

    - name: Collect metrics from Zabbix
      zabbix_metrics:
        zabbix_server: "{{ zabbix_server }}"
        username: "{{ zabbix_username }}"
        password: "{{ zabbix_password }}"
        host_names: "{{ host_names }}"
        days_back: "{{ days_back }}"
        output_path: "{{ output_path }}"
      register: result

    - name: Install samba-client using command (если модуль apk не работает)
      become: yes
      command: apk add samba-client
      args:
        creates: /usr/bin/smbclient  # Проверяем, что файл появился
      when: ansible_os_family == "Alpine" or ansible_distribution == "Alpine"
      ignore_errors: yes

    - name: Copy to Windows share
      shell: |
        smbclient '{{ win_share }}' \
        -N \
        -c "put {{ output_path }} server_metrics.xlsx"
      register: copy_result
      failed_when: copy_result.rc != 0 and "NT_STATUS_ACCESS_DENIED" not in copy_result.stderr

    - name: Display results
      debug:
        msg: "Metrics collected and saved to {{ win_share }}"
